body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

footer div {
  max-width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  margin-top: 50px;
}

.card {
  height: 100%;
}

.card img {
  object-fit: cover;
  height: 200px;
}

/* Modifiche per la navbar e il logo */
.navbar {
  background-color: #2f3031; /* Colore grigio chiaro */
}

.navbar-brand img {
  height: 60px !important; /* Altezza del logo aumentata con !important */
}
